@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}
